<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Setting>
    <Name>Language</Name>
    <Value>Eng.xml</Value>
    <Option>Eng.xml</Option>
  </Setting>
  <Setting>
    <Name>OutputFolder</Name>
    <Value></Value>
  </Setting>
  <Setting>
    <Name>WithInnerPath</Name>
    <Value>true</Value>
  </Setting>
  <Setting>
    <Name>DisplayFullPath</Name>
    <Value>false</Value>
  </Setting>
  <Setting>
    <Name>InnerDirectory</Name>
    <Value>data/worldart/</Value>
    <Option>data/worldart/</Option>
    <Option>build/worldart/</Option>
    <Option>data/maps/</Option>
    <Option>data/definitions/terrain/</Option>
    <Option>build/terraindefinition/</Option>
    <Option>data/statics/</Option>
    <Option>data/definitions/tileart/</Option>
    <Option>build/tileart/</Option>
    <Option>data/textures/</Option>
    <Option>build/terraintexture/</Option>
    <Option>data/sectors/</Option>
    <Option>build/sectors/</Option>
    <Option>data/definitions/legacyterrain/</Option>
    <Option>data/definitions/animation/</Option>
    <Option>build/animationdefinition/</Option>
    <Option>data/definitions/animation/</Option>
    <Option>build/animationsequence/</Option>
    <Option>data/definitions/effect/</Option>
    <Option>build/effectdefinitioncollection/</Option>
    <Option>data/anim/</Option>
    <Option>data/localizedstrings/</Option>
    <Option>build/animationframe/</Option>
    <Option>build/paperdoll/</Option>
    <Option>data/definitions/multi/</Option>
    <Option>build/multicollection/</Option>
    <Option>data/tileartlegacy/</Option>
    <Option>build/tileartlegacy/</Option>
    <Option>data/interface/</Option>
    <Option>data/interface/default/</Option>
    <Option>data/interface/login/</Option>
    <Option>data/interface/login/source/</Option>
    <Option>data/interface/login/textures/</Option>
    <Option>data/interface/interfacecore/</Option>
    <Option>data/interface/interfacecore/source/</Option>
    <Option>data/interface/interfacecore/textures/</Option>
    <Option>data/interface/interfacecore/fonts/</Option>
  </Setting>
</Settings>
